<h1>Bienvenue chez Wekicook</h1>

<p>S'il vous plait confirmez votre email<br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    
    Le lien exipire dans une heure .
</p>

<p>
    A bientot ! 
</p>
