{% extends 'admin.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
  
    <p>Si votre email correspond à un compte, vous receverez un email contenant un lien de reinitialisation </p>
    <p>Le lien expire dans : 1 heure.</p>
    <p>Si vous recevez pas cet email regardez dans les spam ou <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
    
{% endblock %}
